@import '../index.scss';

body {
}

.--constrain {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  background: linear-gradient(
    90deg,
    map-get($md-colors-red, 500),
    map-get($md-colors-pink, 500),
    map-get($md-colors-purple, 500),
    map-get($md-colors-deep-purple, 500),
    map-get($md-colors-indigo, 500),
    map-get($md-colors-blue, 500),
    map-get($md-colors-light-blue, 500),
    map-get($md-colors-cyan, 500),
    map-get($md-colors-teal, 500),
    map-get($md-colors-green, 500),
    map-get($md-colors-light-green, 500),
    map-get($md-colors-lime, 500),
    map-get($md-colors-yellow, 500),
    map-get($md-colors-amber, 500),
    map-get($md-colors-orange, 500),
    map-get($md-colors-deep-orange, 500),
    map-get($md-colors-brown, 500),
    map-get($md-colors-grey, 500),
    map-get($md-colors-blue-grey, 500)
  );
  height: 0.4em;
}

body {
  margin: 0;
  font-family: 'Fira Sans';
}

h1, h2, h3 {
  font-family: 'Fira Sans';
  font-weight: 500;
  line-height: 1;
}

header {
  padding: 0.8em 1.6em;;
  background: black;
  color: white;
}

header h1 {
  margin-bottom: 0.1em;
}

header p {
  margin-top: 0;
}

.color-palletes {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6em;
}

.color-pallete {
  flex: 1 0 340px;
  padding: 0.6em;
  border-bottom: dashed 1px #ddd;
}

.color-pallete--empty {
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: none;
  order: 999999;
}

.color-pallete ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.md-color {
  position: relative;
  overflow: hidden;
}

.md-color--title {
  margin-bottom: 0.4em;
}

.md-color__anchor {
  position: absolute;
  top: -6em;
}

.md-color__anchor:target + .md-color {
  border-left: solid 0.8em white;
}

.md-color__name {
  margin: 0.8em;
  margin-bottom: 3.2em;
}

.md-color__label {
  margin: 0.8em;
  position: relative;
  overflow: hidden;
}

.md-color__label__name {
  float: left;
}

.md-color__label__value {
  float: right;
}

.readme {
  padding: 0.8em 1.6em;;
}

a {
  color: currentColor;
}

footer {
  padding: 1em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  text-align: center;
}
